
    <div class="container my-5">
        <h2 class="text-center mb-4">Contact Us</h2>
        <hr>
        <div class="row">
            <!-- Contact Form -->
            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label">Email</label>
                        <input type="text" class="form-control" id="text" placeholder="Your Email">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone no</label>
                        <input type="text" class="form-control" id="phone" placeholder="phone">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="4" placeholder="Your Message"></textarea>
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane justify-content-space me-2" aria-hidden="true"></i>Send Message</button>
                    </div>
                </form>
            </div>

            <!-- Contact Information & Map -->

            <div class="col-lg-6">
                <div class="mb-4">
                    <h5>Contact Information</h5>
                    <p><strong><span class="material-symbols-outlined me-1">pin_drop</span> </strong> A1 block, amrit vihar, burari, delhi</p>

                    <p><strong><span class="material-symbols-outlined me-1">mail</span></strong>naveen88cm&#64;gmail.com</p>
                    <p><strong><span class="material-symbols-outlined me-1">phone_in_talk</span></strong> +91 888-2970-612</p>
                </div>
                <div class="mb-4">
                    <h5>Location <i class="fa fa-location-arrow me-1" aria-hidden="true"></i></h5>
                    <!-- Embed Google Map -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509906!2d144.95373531550466!3d-37.81720997975171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d43f38c7e8b%3A0xfbba0e903c2f18b0!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2sin!4v1616741573552!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>