    <!-- Footer section -->
    <section id="contact" class="footer_wrapper mt-auto mt-md-0 mb-0 ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <ul class="list-unstyled d-flex justify-content-center justify-content-md-end justify-content-lg-center jus social-icon mb-3 mb-md-0">
                        <li>
                            <a href="https://www.instagram.com/naveen_chandra_mangoli?igsh=MXF4OXJkaGFod20wMg=="><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/NaveenChandraMangoli"><i class="fab fa-github"></i> </a>
                        </li>
                        <li>
                            <a href="https://x.com/MangoliNaveen?t=6dvcjF820QZaZpTqPSOjwA&s=09"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/naveen-mangoli-34115a314?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i> </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="copyright-text text-lg-start text-center mb-3 mb-lg-0">
                        <p class="mb-0">This <b> E-<span class="text-danger">shop</span> </b> Created by <b>Naveen Chandra Mangoli </b> Copyright © 2024 </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
